 /* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para la sección de encabezado */
header {
  background-color: #162759;
  color: white;
  padding: 20px;
  width: 100%;
}

/* Estilos para la imagen */
img {
  width: 50%;
  padding: 20px;
}

/* Estilos para los títulos */
h1, h2 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

/* Estilos para los párrafos */
p {
  font-family: Georgia, serif;
  font-size: 18px;
  text-align: justify;
  margin: 20px 0;
  width: 80%;
}

/* Estilos para el menú */
nav {
  display: flex;
  justify-content: center;
  background-color: #05DBF2;
  padding: 10px;
}

/* Estilos para los enlaces del menú */
nav a {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 0 20px;
  text-decoration: none;
  color: black;
}

/* Estilos para el botón de "Contactanos" */
.contact-button {
  background-color: blue;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
